*{
    margin:0;
    padding:0;
}

.home{
    background-color: gray;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    width: 25%;
    height: 100%;
}
.home:hover{
    color: blue;
}
.apresentacao{
    background-color: red;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    width: 25%;
    height: 100%;
    
}
.apresentacao:hover{
    color: blue;
}
.projetos{
    background-color: green;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    width: 25%;
    height: 100%;
}
.projetos:hover{
    color: blue;
}
.contatos{
    background-color: aquamarine;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    width: 25%;
    height: 100%;
}
.contatos:hover{
    color: blue;
}
section{
background-color: rgb(33, 63, 161);
position: relative;
width: 100%;
height: 100vh;
}
